################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/GenomeManager2017/.vs/GenomeManager2017/v15
